/* body 默认样式 */
body {

    font-family: 'Texturina', serif;
    margin: 0;
}

 h2, h3 {
   font-size: 30px;
    text-align: justify;
    font-family: 'Texturina', serif;
}
p {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  line-height:150%
}

/* 主标题字体样式 */
.header h1 {
    font-size: 80px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: white;
}


.nav a {
    font-size: 22px;
    font-family: 'Texturina', serif;
}

.abeille h2 {}

.intro {
	/*font-size: ;*/
}

.info h3 {}

.bt {
    text-align: center;
	/*font-size: ;*/
}

.main h2 {}

.contenu {
    font-size: 20px;
	font-family: 'Roboto', sans-serif;
}

.next, .pre {
	font-size: 20px;
	text-align: center;
}
